<section>
    <form id="login-form">
        <label for="name">Enter Username</label>
        <input type="text" id="username-login">
        <label for="password">Enter Password</label>
        <input type="text" id="password-login">
         <button type="submit" id="loginbtn">login</button>
    </form>
    <span>
        <a href="/signup">signup</a>
    </span>
</section>
<script src="/js/login.js"></script>