<section>
    <form id="signup-form">
        <label for="name">Enter Username</label>
        <input type="text" id="username-signup">
        <label for="password">Enter Password</label>
        <input type="text" id="password-signup">
        <button type="submit" id="signupbtn">Signup</button>

    </form>
</section>
<script src="/js/signup.js"></script>